@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter';
}

@font-face {
  font-family: 'inter';
  src: url(./fonts/Inter-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.nav-link svg path {
  fill: white;
  stroke: white;
}

.active svg path {
  fill: #f4aa00; /* Default color */
  stroke: #f4aa00;
}

.logout:hover,
.logout:hover svg path {
  color: #f4aa00;
  fill: #f4aa00;
  stroke: #f4aa00;
}
